<div class="heading">
    <h1 class="main">Attractive Wallpapers Website</h1>
    <br>
    <h2>( Just Click The Wallpaper To Download It )</h2>
</div>
<nav>
    <div>
        <img src="./Images/other/logo.png" alt="" width="50px">
    </div>
    <div class="links">
    <a href="/">HOME</a>
    <a href="/movies">MOVIES</a>
    <a href="/games">GAMES</a>
    <a href="/animations">ANIMATION</a>
    <a href="/natures">NATURE</a>
  </div>
</nav>