<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallpapers</title>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <header>
        
        <%- include('./partials/navbar.ejs')%>

     </header>
    <br><br>
    <div class="movies">
        
       <h1>Animations Wallpapers</h1>
       <br>
       <div class="images">

        <a href="./Images/annimation/(1).jpg" download="Animation wallpaper"><img src="./Images/annimation/(1).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(1).png" download="Animation wallpaper"><img src="./Images/annimation/(1).png" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(2).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(2).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(2).png" download="Animation wallpaper">  <img src="./Images/annimation/(2).png" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(3).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(3).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(3).png" download="Animation wallpaper">  <img src="./Images/annimation/(3).png" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(4).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(4).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(4).png" download="Animation wallpaper">  <img src="./Images/annimation/(4).png" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(5).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(5).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(6).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(6).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(7).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(7).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(8).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(8).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(9).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(9).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(10).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(10).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(11).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(11).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(12).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(12).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(13).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(13).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(14).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(14).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(15).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(15).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(16).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(16).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(17).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(17).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(18).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(18).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(19).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(19).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(20).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(20).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(21).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(21).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(22).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(22).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(23).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(23).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(24).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(24).jpg" alt="Animation wallpaper"></a>
        <a href="./Images/annimation/(25).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(25).jpg" alt="Animation wallpaper"></a>


        <a href="./Images/annimation/(52).jpg" download="Animation wallpaper"> <img src="./Images/annimation/(52).jpg" alt="Animation Image"></a>
        <a href="./Images/annimation/(41).jpg" download="Animation wallpaper">    <img src="./Images/annimation/(41).jpg" alt="Animation Image"></a>
        <a href="./Images/annimation/(26).jpg" download="Animation wallpaper">   <img src="./Images/annimation/(26).jpg" alt="Animation Image"></a>
        <a href="./Images/annimation/(27).jpg" download="Animation wallpaper">   <img src="./Images/annimation/(27).jpg" alt="Animation Image"></a>
        <a href="./Images/annimation/(39).jpg" download="Animation wallpaper">   <img src="./Images/annimation/(39).jpg" alt="Animation Image"></a>
        <a href="./Images/annimation/(30).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(30).jpg" alt="Animation Image"></a>
        <a href="./Images/annimation/(24).jpg" download="Animation wallpaper">  <img src="./Images/annimation/(24).jpg" alt="Animation Image"></a>
         
       </div>
  </div>

       <footer>
        <div class="left"><p>Developed By Imtiaz Hussain</p></div>
        <div class="right"><p>Copyright @2021</p></div>

    </footer>
</body>
</html>