<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallpapers</title>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <header>
        
        <%- include('./partials/navbar.ejs')%>

     </header>
    <br><br>
    <div class="movies">
        
       <h1>Games Wallpapers</h1>
       <br>
       <div class="images">

        <a href="./Images/games/(1).jpg" download="games Wallpaper"><img src="./Images/games/(1).jpg" alt="Movies Image"></a>
        <a href="./Images/games/(2).jpg" download="games Wallpaper">  <img src="./Images/games/(2).jpg" alt="Movies Image"></a>
        <a href="./Images/games/(3).jpg" download="games Wallpaper">  <img src="./Images/games/(3).jpg" alt="Movies Image"></a>
        <a href="./Images/games/(4).jpg" download="games Wallpaper">  <img src="./Images/games/(4).jpg" alt="Movies Image"></a>
        <a href="./Images/games/(5).jpg" download="games Wallpaper">  <img src="./Images/games/(5).jpg" alt="Movies Image"></a>
        <a href="./Images/games/(6).jpg" download="games Wallpaper">  <img src="./Images/games/(6).jpg" alt="Movies Image"></a>
        <a href="./Images/games/(7).jpg" download="games Wallpaper">  <img src="./Images/games/(7).jpg" alt="Movies Image"></a>
        <a href="./Images/games/(8).jpg" download="games Wallpaper">  <img src="./Images/games/(8).jpg" alt="Movies Image"></a>
        <a href="./Images/games/(9).jpg" download="games Wallpaper">  <img src="./Images/games/(9).jpg" alt="games Image"></a>
        <a href="./Images/games/(10).jpg" download="games Wallpaper">  <img src="./Images/games/(10).jpg" alt="games Image"></a>
        <a href="./Images/games/(11).jpg" download="games Wallpaper">  <img src="./Images/games/(11).jpg" alt="games Image"></a>
        <a href="./Images/games/(12).jpg" download="games Wallpaper">  <img src="./Images/games/(12).jpg" alt="games Image"></a>
        <a href="./Images/games/(13).jpg" download="games Wallpaper">  <img src="./Images/games/(13).jpg" alt="games Image"></a>
        <a href="./Images/games/(14).jpg" download="games Wallpaper">  <img src="./Images/games/(14).jpg" alt="games Image"></a>
        <a href="./Images/games/(15).jpg" download="games Wallpaper">  <img src="./Images/games/(15).jpg" alt="games Image"></a>
        <a href="./Images/games/(16).jpg" download="games Wallpaper">  <img src="./Images/games/(16).jpg" alt="games Image"></a>
        <a href="./Images/games/(17).jpg" download="games Wallpaper">  <img src="./Images/games/(17).jpg" alt="games Image"></a>
        <a href="./Images/games/(18).jpg" download="games Wallpaper">  <img src="./Images/games/(18).jpg" alt="games Image"></a>
        <a href="./Images/games/(19).jpg" download="games Wallpaper">  <img src="./Images/games/(19).jpg" alt="games Image"></a>
        <a href="./Images/games/(20).jpg" download="games Wallpaper">  <img src="./Images/games/(20).jpg" alt="games Image"></a>
        <a href="./Images/games/(21).jpg" download="games Wallpaper">  <img src="./Images/games/(21).jpg" alt="games Image"></a>
        <a href="./Images/games/(22).jpg" download="games Wallpaper">  <img src="./Images/games/(22).jpg" alt="games Image"></a>
        <a href="./Images/games/(23).jpg" download="games Wallpaper">  <img src="./Images/games/(23).jpg" alt="games Image"></a>
        <a href="./Images/games/(24).jpg" download="games Wallpaper">  <img src="./Images/games/(24).jpg" alt="games Image"></a>
        <a href="./Images/games/(25).jpg" download="games Wallpaper">  <img src="./Images/games/(25).jpg" alt="games Image"></a>



        <a href="./Images/games/(30).jpg" download="Game wallpaper">   <img src="./Images/games/(30).jpg" alt="Games Image"></a>
        <a href="./Images/games/(24).jpg" download="Game wallpaper">  <img src="./Images/games/(24).jpg" alt="Games Image"></a>
        <a href="./Images/games/(10).jpg" download="Game wallpaper">  <img src="./Images/games/(10).jpg" alt="Games Image"></a>
        <a href="./Images/games/(14).jpg" download="Game wallpaper">  <img src="./Images/games/(14).jpg" alt="Games Image"></a>
        <a href="./Images/games/(25).jpg" download="Game wallpaper">   <img src="./Images/games/(25).jpg" alt="Games Image"></a>
        <a href="./Images/games/(6).jpg" download="Game wallpaper">   <img src="./Images/games/(6).jpg" alt="Games Image"></a>
        <a href="./Images/games/(21).jpg" download="Game wallpaper">  <img src="./Images/games/(21).jpg" alt="Games Image"></a>
        <a href="./Images/games/(38).jpg" download="Game wallpaper">  <img src="./Images/games/(38).jpg" alt="Games Image"></a>
          
      
         
       </div>
    </div>

    <footer>
     <div class="left"><p>Developed By Imtiaz Hussain</p></div>
     <div class="right"><p>Copyright @2021</p></div>

 </footer>
</body>
</html>