<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallpapers</title>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <header>
        
        <%- include('./partials/navbar.ejs')%>

     </header>
    <br><br>
    <div class="movies">
        
       <h1>Movies Wallpapers</h1>
       <br>
       <div class="images">
           <a href="./Images/movies/(1).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(1).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(1).PNG" download="Movie Wallpaper"><img src="./Images/movies/(1).png" alt="Movies Image"></a>
           <a href="./Images/movies/(2).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(2).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(3).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(3).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(4).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(4).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(5).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(5).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(6).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(6).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(7).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(7).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(8).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(8).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(9).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(9).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(10).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(10).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(11).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(11).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(12).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(12).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(13).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(13).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(14).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(14).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(15).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(15).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(16).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(16).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(17).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(17).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(18).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(18).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(19).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(19).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(20).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(20).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(21).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(21).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(22).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(22).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(23).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(23).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(24).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(24).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(25).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(25).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(26).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(26).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(27).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(27).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(28).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(28).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(29).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(29).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(30).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(30).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(31).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(31).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(32).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(32).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(33).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(33).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(34).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(34).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(35).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(35).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(36).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(36).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(37).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(37).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(38).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(38).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(39).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(39).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(40).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(40).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(41).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(41).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(42).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(42).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(43).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(43).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(44).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(44).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(45).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(45).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(46).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(46).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(47).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(47).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(48).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(48).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(49).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(49).jpg" alt="Movies Image"></a>
           <a href="./Images/movies/(50).jpg" download="Movie Wallpaper">  <img src="./Images/movies/(50).jpg" alt="Movies Image"></a>

          
      
         
       </div>

    </div>

    <footer>
     <div class="left"><p>Developed By Imtiaz Hussain</p></div>
     <div class="right"><p>Copyright @2021</p></div>

 </footer>
</body>
</html>