<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wallpapers</title>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <header>
        
        <%- include('./partials/navbar.ejs')%>

     </header>
    <br><br>
    <div class="movies">
        
       <h1>Natures Wallpapers</h1>
       <br>
       <div class="images">
        <a href="./Images/nature/(1).jpg" download="Nature Wallpaper"><img src="./Images/nature/(1).jpg" alt="Movies Image"></a>
        <a href="./Images/nature/(2).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(2).jpg" alt="Movies Image"></a>
        <a href="./Images/nature/(3).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(3).jpg" alt="Movies Image"></a>
        <a href="./Images/nature/(4).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(4).jpg" alt="Movies Image"></a>
        <a href="./Images/nature/(5).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(5).jpg" alt="Movies Image"></a>
        <a href="./Images/nature/(6).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(6).jpg" alt="Movies Image"></a>
        <a href="./Images/nature/(7).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(7).jpg" alt="Movies Image"></a>
        <a href="./Images/nature/(8).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(8).jpg" alt="Movies Image"></a>
        <a href="./Images/nature/(9).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(9).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(10).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(10).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(11).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(11).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(12).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(12).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(13).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(13).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(14).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(14).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(15).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(15).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(16).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(16).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(17).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(17).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(18).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(18).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(19).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(19).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(20).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(20).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(21).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(21).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(22).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(22).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(23).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(23).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(24).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(24).jpg" alt="Nature Image"></a>
        <a href="./Images/nature/(25).jpg" download="Nature Wallpaper">  <img src="./Images/nature/(25).jpg" alt="Nature Image"></a>


        <a href="./Images/nature/(48).jpg" download="Nature Wallpaper"><img src="./Images/nature/(48).jpg" alt="Nature Image"></a> 
        <a href="./Images/nature/(40).jpg" download="Nature Wallpaper">     <img src="./Images/nature/(40).jpg" alt="Nature Image"></a> 
      
          
      
         
       </div>
    </div>

    <footer>
     <div class="left"><p>Developed By Imtiaz Hussain</p></div>
     <div class="right"><p>Copyright @2021</p></div>

 </footer>
</body>
</html>